@charset "utf-8";
*:lang(ko)	{font-family:'Nanum Gothic','돋움',dotum,Arial,sans-serif;}
*:lang(ja)	{font-family:'Hiragino Kaku Gothic Pro','ヒラギノ角ゴ Pro W3','メイリオ','Meiryo','Osaka','ＭＳ Ｐゴシック','MS PGothic',Arial,sans-serif;}
*:lang(zh-hans),*:lang(zh-hant)	{font-family:'Times New Roman';}
*:lang(vi)	{font-family:'Times New Roman',Palatino,Bodoni,Optima,Century,Garamond,sans-serif;}
.fa-check{
    color:rgb(41,181,105);
}